/* line 5, ../sass/modules/_header.scss */
body {
  background: gray;
}

/* line 10, ../sass/modules/_header.scss */
.pl-header-wrapper {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: "space-between";
  justify-content: "space-between";
  -webkit-align-items: center;
  align-items: center;
  background: black;
  padding: 10px;
  height: 99px;
}
/* line 19, ../sass/modules/_header.scss */
.pl-header-wrapper a.pl-logo-link {
  width: 96px;
  height: 92px;
  background: #f0cd17;
  margin-right: 20px;
}
/* line 26, ../sass/modules/_header.scss */
.pl-header-wrapper nav.pl-navbar {
  -webkit-flex: 3;
  flex: 3;
}
/* line 29, ../sass/modules/_header.scss */
.pl-header-wrapper nav.pl-navbar ul {
  text-transform: uppercase;
  color: #eceff1;
  font-family: sans-serif;
}
/* line 34, ../sass/modules/_header.scss */
.pl-header-wrapper nav.pl-navbar ul li {
  display: inline-block;
  margin-right: 20px;
}
/* line 42, ../sass/modules/_header.scss */
.pl-header-wrapper div.pl-auth-wrapper a {
  border: 2px solid #eceff1;
  padding: 10px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  color: #eceff1;
  font-family: sans-serif;
}
/* line 49, ../sass/modules/_header.scss */
.pl-header-wrapper div.pl-auth-wrapper a:hover {
  color: gray;
  text-decoration: none;
  border-color: gray;
}
