/* line 1, ../sass/layouts/_base.scss */
body {
  overflow-x: hidden;
}

/* line 5, ../sass/layouts/_base.scss */
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  overflow: hidden;
}

/* line 3, ../sass/modules/_header.scss */
.pl-header-wrapper {
  position: relative;
}
/* line 6, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  background: black;
  height: 80px;
  padding: 10px;
}
/* line 15, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper a.pl-logo-link {
  width: 69px;
  height: 64px;
  margin-right: 20px;
}
/* line 20, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper a.pl-logo-link img.pl-logo-image {
  width: 69px;
  height: 64px;
}
/* line 26, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper nav.pl-navbar {
  -webkit-flex: 3;
  flex: 3;
}
/* line 29, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper nav.pl-navbar ul {
  text-transform: uppercase;
  color: #eceff1;
  font-family: sans-serif;
}
/* line 34, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper nav.pl-navbar ul li {
  display: inline-block;
  margin-right: 20px;
}
/* line 38, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper nav.pl-navbar ul li a {
  color: #eceff1;
  font-family: sans-serif;
  text-align: center;
}
/* line 43, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper nav.pl-navbar ul li a:hover {
  color: gray;
  text-decoration: none;
}
/* line 53, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper div.pl-auth-wrapper a {
  border: 2px solid #eceff1;
  padding: 10px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #eceff1;
  font-family: sans-serif;
  text-align: center;
  width: 60px;
  display: block;
}
/* line 64, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper div.pl-auth-wrapper a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
/* line 72, ../sass/modules/_header.scss */
.pl-header-wrapper .pl-header-inner-wrapper .bm-burger-button {
  display: none;
}
/* line 77, ../sass/modules/_header.scss */
.pl-header-wrapper .bm-menu-wrap {
  display: none;
}

@media only screen and (max-width: 621px) {
  /* line 86, ../sass/modules/_header.scss */
  .pl-navbar, .pl-auth-wrapper {
    display: none;
  }

  /* line 93, ../sass/modules/_header.scss */
  .pl-header-wrapper header {
    /* Position and sizing of burger button */
    /* Color/shape of burger icon bars */
    /* Position and sizing of clickable cross button */
    /* Color/shape of close button cross */
    /* General sidebar styles */
    /* Morph shape necessary with bubble or elastic */
    /* Wrapper for item list */
    /* Styling of overlay */
  }
  /* line 94, ../sass/modules/_header.scss */
  .pl-header-wrapper header .pl-header-inner-wrapper {
    padding: 10px;
  }
  /* line 97, ../sass/modules/_header.scss */
  .pl-header-wrapper header .pl-header-inner-wrapper a.pl-logo-link {
    padding: 0;
    width: 69px;
    height: 64px;
  }
  /* line 102, ../sass/modules/_header.scss */
  .pl-header-wrapper header .pl-header-inner-wrapper a.pl-logo-link img.pl-logo-image {
    width: 69px;
    height: 64px;
  }
  /* line 108, ../sass/modules/_header.scss */
  .pl-header-wrapper header .pl-header-inner-wrapper .pl-hamburguer-icon {
    display: block;
    font-size: 30px;
  }
  /* line 112, ../sass/modules/_header.scss */
  .pl-header-wrapper header .pl-header-inner-wrapper .pl-hamburguer-icon span {
    color: #eceff1;
  }
  /* line 115, ../sass/modules/_header.scss */
  .pl-header-wrapper header .pl-header-inner-wrapper .pl-hamburguer-icon span.hover {
    text-decoration: none;
    color: #eceff1;
  }
  /* line 123, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-menu-wrap {
    display: block;
  }
  /* line 128, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 26px;
    left: initial;
    right: 26px;
  }
  /* line 139, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-burger-bars {
    background: #eceff1;
    height: 12% !important;
  }
  /* line 145, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  /* line 151, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-cross {
    background: #bdc3c7;
  }
  /* line 156, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  /* line 161, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-menu a.menu-item {
    display: block;
    outline: none;
    padding: 0.8em;
    color: #b8b7ad;
  }
  /* line 170, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-morph-shape {
    fill: #373a47;
  }
  /* line 175, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  /* line 181, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  /* line 185, ../sass/modules/_header.scss */
  .pl-header-wrapper header .bm-cross-button {
    display: none;
  }
}
