@import "compass/css3";

.pl-header-wrapper {
  position: relative;

  .pl-header-inner-wrapper {
    position: relative;
    @include display-flex;
    @include flexbox((justify-content: space-between));
    @include align-items(center);
    background: black;
    height: 80px;
    padding: 10px;

    a.pl-logo-link{
      width: 69px;
      height: 64px;
      margin-right: 20px;

      img.pl-logo-image {
        width: 69px;
        height: 64px;
      }
    }

    nav.pl-navbar {
      @include flex(3);

      ul {
        text-transform: uppercase;
        color: #eceff1;
        font-family: sans-serif;

        li {
          display: inline-block;
          margin-right: 20px;

          a {
            color: #eceff1;
            font-family: sans-serif;
            text-align: center;

            &:hover {
              color: gray;
              text-decoration: none;
            }
          }
        }
      }
    }

    div.pl-auth-wrapper {
      a {
        border: 2px solid #eceff1;
        padding: 10px;
        @include border-radius(22px);
        @include box-sizing(content-box);
        color: #eceff1;
        font-family: sans-serif;
        text-align: center;
        width: 60px;
        display: block;

        &:hover {
          color: gray;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .bm-burger-button {
      display: none;
    }
  }

  .bm-menu-wrap {
    display: none;
  }
}



@media only screen and (max-width: 621px) {

  .pl-navbar, .pl-auth-wrapper {
    display: none;
  }


  .pl-header-wrapper {

    header {
      .pl-header-inner-wrapper {
        padding: 10px;

        a.pl-logo-link {
          padding: 0;
          width: 69px;
          height: 64px;

          img.pl-logo-image {
            width: 69px;
            height: 64px;
          }
        }

        .pl-hamburguer-icon {
          display: block;
          font-size: 30px;

          span {
            color: #eceff1;

            &.hover {
              text-decoration: none;
              color: #eceff1;
            }
          }
        }
      }

      .bm-menu-wrap {
        display: block;
      }

      /* Position and sizing of burger button */
      .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 26px;
        left: initial;
        right: 26px;
      }

      /* Color/shape of burger icon bars */
      .bm-burger-bars {
        background: #eceff1;
        height: 12% !important;
      }

      /* Position and sizing of clickable cross button */
      .bm-cross-button {
        height: 24px;
        width: 24px;
      }

      /* Color/shape of close button cross */
      .bm-cross {
        background: #bdc3c7;
      }

      /* General sidebar styles */
      .bm-menu {
        background: #373a47;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;

        a.menu-item {
          display: block;
          outline: none;
          padding: 0.8em;
          color: #b8b7ad;
        }
      }

      /* Morph shape necessary with bubble or elastic */
      .bm-morph-shape {
        fill: #373a47;
      }

      /* Wrapper for item list */
      .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
      }

      /* Styling of overlay */
      .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
      }

      .bm-cross-button {
        display: none;
      }
    }
  }
}
